#chat-screen{
    background-color: skyblue;
}
#chat-screen .alt-header{
    position:fixed;
    width:100%;
    box-sizing: border-box;
    top:10px;
    background-color: skyblue;
}
.main-chat{
    margin-top:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-screen .status-bar{
    z-index:2;
    background-color: skyblue;
}
.chat__timestamp{
    color:white;
    background-color: slateblue;
    padding:8px 15px;
    border-radius: 30px;
    font-size:14px;
    margin-bottom: 25px;
}
.message-row img{
    border-radius: 50%;
    margin-right:15px;
}
.message-row{
    display: flex;
    width:100%;
}
.message__author,
.message__time{
    opacity:0.8;
    font-size: 13px;
    display:block;
    margin-bottom: 8px;
}
.message__bubble{
    background-color: white;
    padding:13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__info{
    display:flex;
    align-items: flex-end;
}